/* Start Global variables */
:root{
    --background-color:#F7F7F7;
    --main-color:#1C1C1C;
    --section-padding:100px;
    --main-transition:.4s;
     
}
/* End Global variables */
/* Start Global Rules */
*,
*::before,
*::after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
   
}
::selection {
    color: white;
    background-color: var(--bold-gold-color);
  }

::-webkit-scrollbar{
    width:11px;
}
::-webkit-scrollbar-track{
    background-color:#e6e5e5;
}
::-webkit-scrollbar-thumb{
   background-color:var(--bold-gold-color);
    border-radius: 10px;
}


body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
a{
 text-decoration: none;
}
.main-heading{
    width:fit-content;
    margin:auto;
    font-size:2.5rem;
    font-weight: 800;
    margin-bottom:5rem;
}
/* End Global Rules */
nav .navbar-brand{
    font-size:18px;
}
nav .navbar-nav li{
margin: 25px 20px 0;
}
nav ul li .link-of-nav{
    position:relative;
    overflow: hidden;
    width:fit-content;
    padding-bottom:5px;
}
nav ul li .link-of-nav::before{
    content:'';
    position:absolute;
    transition: .5s;
    bottom:0;
    left:-100%;
    height:2px;
    width:100%;
    background-color: #fff;
}
nav ul li .link-of-nav:hover::before,
nav ul li .link-of-nav.active::before{
   left:0;
}
nav .navbar-toggler[aria-expanded="true"] ~ .collapse  ul{
    background-color: white;
    
}

/* START HOME */
#home{
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) ,url(../imgs/bg.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-attachment:fixed;
}
#home h1{
    font-size:3.125rem;
}
#home .social-icons{
    margin-top:30px;
}
#home .social-icons span{
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
}
#home .social-icons svg {
    color:white;
    margin:0 10px;

}
/* END HOME */
/* Start About section */
.about{
    padding-bottom: var(--section-padding);
    padding-top:var(--section-padding);
}
.about .about-img{
    padding-left: 1.875rem;    
}
.about .about-img img{
    width:100%;
    height: auto;
}
.about .about-img::after{
  content:'';
  width:80%;
  height: 80%;
  position:absolute;
  left:0;
  bottom:-27px;
  background-repeat: repeat;
  background-image: url(../imgs/dots.png);
  z-index: -1;
}
.about .progress{
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    position:relative;
    height:1.4rem;
    margin-bottom:30px;
} 
.about .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    white-space: nowrap;
    background-color: var(--main-color);
    transition: var(--bs-progress-bar-transition);
}
.about .progress h6{
    position:absolute;
    left:0;
    color:white;
    margin:4px;
    padding-left:5px;
    font-size:13px;

}
.about .content h3{
    font-weight: 800;
    margin-bottom:6px;
}
.about .content .sub-title {
    color: #999;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.about .content p{
line-height: 1.6;
color:#748182;
}
.about .download,
.about .contact-me{
    font-size:13px;
    border-radius: 5px;
    padding:10px 30px;
    transition:var(--main-transition);
    border:1px solid var(--main-color);
    color:var(--main-color);
}
.about a{
    margin-top:20px;
    display: inline-block;
}
.about .download{
    color:white;
    background-color: var(--main-color);
    margin-right:3px;
}
.about .download:hover{
    color:var(--main-color);
    background-color: white;
}
.about .contact-me:hover{
    color:white;
    background-color:var(--main-color);
}
/* End About section */
/* Start services */
.services{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--background-color);
}
.services .card{
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    border:none;
    padding:3.125rem 1.25rem !important;
}
.services .card .icon{
    width:4.375rem;
    height:4.375rem;
    border-radius: 50%;
    transition: var(--main-transition);
    background-color: var(--background-color);
    font-size:30px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.services .card:hover .icon{
    color:white;
    background-color:var(--main-color);
}
/* End services */
/* Start Portfolio */
.portfolio{
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
}
.portfolio .shuffle li{
    margin:10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .shuffle li::after{
    content:'';
    position:absolute;
    transition: .5s;
    bottom:0;
    left:-100%;
    height:2px;
    width:100%;
    background-color: var(--main-color);
}
.portfolio .shuffle li.active::after{
left:0;
}
.portfolio .box{
    position:relative;
    overflow: hidden;
}
.portfolio .box .overlay-caption{
  position:absolute;
  left:5px;
  right:5px;
  top:5px;
  bottom:5px;
  background: #fffffff2;
  transition: var(--main-transition);
  transform: translateY(10px);
  opacity: 0;
}
.portfolio .box:hover .overlay-caption{
    opacity: 1;
    transform: translateY(0);
}
.portfolio .box .overlay-caption .caption{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.portfolio .box  .overlay-caption .caption h6{
    position:relative;
    font-size:.75rem;
    font-weight: 700;
    margin-bottom:12px;
    letter-spacing: 1px;
    transform: translateY(-12px);
    transition: var(--main-transition);
}
.portfolio .box .overlay-caption .caption .icons{
   margin-bottom: 12px;
   transform: translateY(12px);
   transition: var(--main-transition);
}
.portfolio .box:hover  .overlay-caption .caption h6,
.portfolio .box:hover  .overlay-caption .caption .icons{
    transform: translateY(0);
}
.portfolio .overlay-caption .caption .icon{
    display: inline-block;
}
.portfolio .overlay-caption .caption .icon svg{
    display: inline-block;
    padding:10px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    background-color:var(--main-color);
    color: #eee;
    font-size: 12px;
    transition: var(--main-transition);
}
.portfolio .overlay-caption .caption .icon svg:hover{
    color:var(--main-color);
    background-color: #eee;
}
/* End Portfolio */
/* start testimonial */
.testimonial{
    padding-top:50px;
    padding-bottom: 50px;
    background-color:var(--background-color);
    position:relative;
}

.testimonial .carousel-indicators [data-bs-target]{
    all:unset;
    width:10px;
    height:10px;
    background-color:var(--main-color);
    border-radius: 50%;
    margin-inline:4px;
    cursor: pointer;
    opacity: .3;
    transition: 1s;
}
.testimonial .carousel-indicators .active,
.testimonial .carousel-indicators [data-bs-target]:hover{
        opacity: 1;
}
.testimonial .carousel-item div img{
    width:100px;
    height:100px;
}
.testimonial .carousel-item div img,
.testimonial .carousel-item div span,
.testimonial .carousel-item div p{
transform: scale(0) !important;
transition: .5s;
}
.testimonial .carousel-item div img{
    transition-delay: .4s;
}
.testimonial .carousel-item div span{
    transition-delay: .2s;
    
}
.testimonial .carousel-item div span.name{
font-size:16px;
}
.testimonial .carousel-item div span.job{
    font-size: 14px;
}
.testimonial .carousel-item div p{
    transition-delay: .1s;
}
.testimonial .carousel-item.active div img,
.testimonial .carousel-item.active div span,
.testimonial .carousel-item.active div p{
    transform: scale(1) !important;
}
/* End testimonial */
/* Start Numbers */
.numbers{
    padding-top:50px;
    padding-bottom: 50px;
    position:relative;
}
/* End Numbers */
/* Start Team */
.teams{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--background-color);
}
.teams .img-box{
    position:relative;
    overflow: hidden;
}
.teams .img-box img{
    transition: var(--main-transition);
}
.teams .card:hover .img-box img{
    transform: scale(1.2);
}
.teams .img-box .social{
    position:absolute;
    background-color: #fffffff2;
    top:5px;
    bottom:5px;
    right: 5px;
    left:5px;
    opacity:0;
    text-align: center;
    transform: rotateY(180deg) scale(0.5, 0.5);
    transition: var(--main-transition);
}
.teams .card:hover .img-box .social{
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
}
.teams .img-box .social ul{
    text-align: center;
    position:relative;
    top:10rem;
}
.teams .img-box .social ul li{
    padding:0 6px;
}
.teams .img-box .social ul a{
    border: 1px solid var(--main-color);
    color: white;
    background-color: var(--main-color);
    display: block;
    font-size: 20px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}
.teams .img-box .social ul a:hover{
    background-color:white;
    color:var(--main-color);
}
.teams .card-body{
    background-color:#5B5B5B;
}

/* End Team */
/*Start Contact us */
.contact-us{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact-us .information{
    margin-bottom:3.125rem;
}
.contact-us .icon{
    font-size: 25px;
    margin-bottom: 15px;
    width:60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    background: #f4f4f4;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.contact-us form input:not([type="submit"]), 
.contact-us form textarea {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}
.contact-us form input:focus, 
.contact-us form textarea:focus{
outline:none;
}
.contact-us form textarea{
    height: 150px;
    margin-bottom:9px;
}
.contact-us form .buton {
    padding: 10px 40px;
    background: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    font-size: 15px;
}
/*End Contact us */
footer{
    background-color: var(--main-color);
}
.typewrite{
    display: inline;

}
.typer{
    font-size:60px;
    color: white;
}
.typer .typewrite{
    font-weight:400;
    font-size:60px;
}